{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="ibox-title">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">{{ host.name }}</li>
    </ol>
</div>

<div class="ibox-content h5">
    <!-- Connection form -->

    <form id="connect" class="form-horizontal">
        <fieldset>
            <legend>Connect to a remote SSH server</legend>

            <div class="control-group">
                <label class="control-label">
                    Destination
                </label>
                <div class="input-group input-group-lg">
                    <input type="text" id="username" class="form-control" value="{{ host.user }}" placeholder="Username">
                    <span class="input-group-addon">@</span>
                    <input type="text" id="hostname" class="form-control" value="{{ host.ip }}" placeholder="Host">
                    <span class="input-group-addon">port</span>
                    <input type="text" id="portnumber" class="form-control" value=22 disabled>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="authentication_method" value="password" checked />
                        Password
                    </label>
                </div>
            </div>

            <div class="control-group" id="password_authentication">
                <div class="input-group input-group-lg">
                    <input type="password" id="password" value="{{ host.password }}" />
                </div>
            </div>

            <div class="controls hide">
                <input type="text" id="command" class="input-large" />
                <p class="help-block">
                    Enter command to be executed or
                    empty for interactive.
                </p>
            </div>

            <div class="page-header">
                <button type="submit" class="btn btn-primary btn-lg">
                    Connect
                </button>
            </div>

        </fieldset>
    </form>

    <!--<form method="post" id="install_form" class="form-horizontal" action="" enctype="multipart/form-data">-->
        <!--{% csrf_token %}-->
        <!--{% for k, v in host.installed.items %}-->
        <!--{% if not v == "installed" %}-->
        <!--<button name="btn_install" value="{{ k }}" class="btn btn-warning btn-lg">安装 {{ k }}</button>-->
        <!--{% else %}-->
        <!--<button name="btn_install" value="{{ k }}" class="btn btn-info btn-lg">已安装 {{ k }}</button>-->
        <!--{% endif %}-->
        <!--{% endfor %}-->
    <!--</form>-->
    <div id="term">
    </div>

</div>

<script src="/static/js/term.js">
</script>
<script src="/static/js/wssh.js">
</script>
<script type="application/javascript">
            function openTerminal(options) {
                var client = new WSSHClient();
                var term = new Terminal(80, 24, function(key) {
                    client.send(key);
                });
                term.open();
                $('.terminal').detach().appendTo('#term');
                term.resize(80, 24);
                term.write('Connecting...');
                client.connect($.extend(options, {
                    onError: function(error) {
                        term.write('Error: ' + error + '\r\n');
                    },
                    onConnect: function() {
                        // Erase our connecting message
                        term.write('\r');
                    },
                    onClose: function() {
                        term.write('Connection Reset By Peer');
                    },
                    onData: function(data) {
                        term.write(data);
                    }
                }));
            }
        </script>

<script type='application/javascript'>
            $(document).ready(function() {
                $('#ssh').hide();
                $('#private_key_authentication', '#connect').hide();

                $('input:radio[value=private_key]', '#connect').click(
                    function() {
                        $('#password_authentication').hide();
                        $('#private_key_authentication').show();
                    }
                );

                $('input:radio[value=password]', '#connect').click(
                    function() {
                        $('#password_authentication').show();
                        $('#private_key_authentication').hide();
                    }
                );

                $('#connect').submit(function(ev) {
                    ev.preventDefault();

                    function validate(fields) {
                        var success = true;
                        fields.forEach(function(field) {
                            if (!field.val()) {
                                field.closest('.control-group')
                                    .addClass('error');
                                success = false;
                            }
                        });
                        return success;
                    }

                    // Clear errors
                    $('.error').removeClass('error');

                    var username = $('input:text#username');
                    var hostname = $('input:text#hostname');
                    var portnumber = $('input:text#portnumber');
                    var command = $('input:text#command');

                    var authentication = $(
                        'input[name=authentication_method]:checked',
                        '#connect').val();
                    var options = {
                        username: username.val(),
                        hostname: hostname.val(),
                        command: command.val(),
                        authentication_method: authentication
                    };

                    var port = parseInt(portnumber.val())
                    if (port > 0 && port < 65535) {
                        $.extend(options, {port: port});
                    } else {
                        $.extend(options, {port: 22});
                    }

                    if (authentication == 'password') {
                        var password = $('input:password#password');
                        if (!validate([username, hostname, password]))
                            return false;
                        $.extend(options, {password: password.val()});
                    } else if (authentication == 'private_key') {
                        var private_key = $('textarea#private_key');
                        if (!validate([username, hostname, private_key]))
                            return false;
                        $.extend(options, {private_key: private_key.val()});
                        var key_passphrase = $('input:password#key_passphrase');
                        if (key_passphrase.val()) {
                            $.extend(options,
                                {key_passphrase: key_passphrase.val()});
                        }
                    }

                    $('#connect').hide();
                    $('#ssh').show();
                    openTerminal(options);
                });

            $("#connect").submit();
            });
        </script>

{% endblock %}
